@page "/blog"
@using EFDataAccessLibrary.Models
@model GameSky.Pages.ChangelogsModel
@{
    List<NewsHeader> updates = Model.Updates;
}

@section Styles{
    <link href="~/css/blog.css" rel="stylesheet" />
}
<section class="section light">
    <div class="update-container">
        <h3 class="update-list-title">ANISH UPDATES</h3>
        <br />
        <div class="update-cards-wrapper">
                @foreach (NewsHeader item in updates)
                {<a asp-page="/update" asp-route-id="@item.NewsId">
                        <div class="update-card">
                            <img 
                                 src="https://image.api.playstation.com/cdn/EP3862/CUSA10484_00/yBWNwtzZiTbsRVQtorKYTi06O7iXq5fd.jpg"
                                 alt="Update Notes" width="1920" height="1080" class="update-banner">
                            <span class="update-meta">@item.NewsPublishDate.ToString("dd'/'M'/'yy") • SITE UPDATES</span>
                            <h3 class="update-title">@item.NewsTitle</h3>
                            <p>@item.NewsDesc.Split('.')[0].</p>
                        </div>
                    </a>
                }
        </div>
    </div>
</section>