@page
@using EFDataAccessLibrary.Models
@model GameSky.Pages.NewsModel
@{
    ViewBag.Title = "Artykuły";
}
@section Styles {
    <link rel="stylesheet" href="~/css/indexSite.css" />
}

<div class="newsContainer">
    <div class="content">
        <div class="newsfeed">
            <ul id="newsList">
                @foreach (NewsHeader news in Model.newsList)
                {
                    <li class="feedItem">
                        <div class="titleNewsBar">
                            <p>@news.NewsTitle</p>
                            <p class="newsFeed-date">@news.NewsPublishDate.ToString("dd/MM/yyyy")</p>
                        </div>
                        <span>@news.NewsDesc</span>
                        <span class="linkRead"><a asp-page="/Post" asp-route-id="@news.NewsId">Read more...</a></span>
                    </li>
                }
            </ul>
            <button id="showMore">Pokaż więcej</button>
            <p class="newsEnd" id="newsEnd">Dotrałeś do końca aktualności!</p>
        </div>
    </div>
</div>


<script>
    let myStep = 1;
    let more = true;

    $('#showMore').click(function () {
        if (Boolean(more)) {
            $.ajax({
                url: "/news?handler=TakeNews",
                type: "get",
                data: { step: myStep },
                success: function (result) {
                    if (jQuery.trim(result) != '') {
                        myStep += 1;
                        $("#newsList").append(result);
                    } else {
                        more = false;
                        hideMore();
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }
    });

    function hideMore() {
        var element = document.getElementById("showMore");
        element.style.display = "none";


        var end = document.getElementById("newsEnd");
        end.style.display = "block";
    }
</script>