@page
@model GameSky.Pages.Matches.MatchUpcomingModel
@using EFDataAccessLibrary.Models
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    NewsHeader news = ViewBag.News;
}

<h2>/@news.NewsId/@news.NewsTitle</h2>