@page
@model GameSky.Pages.AddAddressModel
@{
    ViewData["Title"] = "Add address";
}
<h1>Add Address</h1>
<form method="post">
    <label asp-for="Address.StreetAddress">Nazwa ulicy</label>
    <input type="text" asp-for="Address.StreetAddress" placeholder="Street Addresss" />
    <input type="text" asp-for="Address.City" placeholder="Miasto" />
    <input type="text" asp-for="Address.State" placeholder="Wojewódźtwo" />
    <input type="text" asp-for="Address.ZipCode" placeholder="Kod pocztowy" />
    <button type="submit">Zatwierdź</button>
</form>