@using EFDataAccessLibrary.Models
@inject SignInManager<ApplicationUser> SignIn
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HyperCats</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/sygnet.png" class="brand-logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/News">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Matches" asp-action="Results">Results</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Players">Marketplace</a>
                        </li>
                        @if (SignIn.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/PlayerGenerator">Market</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div id="mainAlert" class="mainAlert">
            <span class="material-icons">warning</span>
            <span id="alertText">Właśnie dodaliśmy nowy turniej Verification solo cup 2001 - szczegóły w zakładce Turnieje solo!</span>
        </div>

        @* Admin sidebar *@
        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdminRole")).Succeeded)
        {
            <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
                <p id="sidebar-title" class="">P</p>
                <a asp-area="" asp-controller="Admin" asp-action="User">
                    <i class="material-icons">account_circle</i>
                    <span class="icon-text">użytkownicy</span>
                </a>
                <br>
                <a asp-area="" asp-controller="Admin" asp-action="News">
                    <i class="material-icons">article</i>
                    <span class="icon-text">artykuły</span>
                </a>
                <br>
                <a asp-area="" asp-controller="Admin" asp-action="Match">
                    <i class="material-icons">games</i>
                    <span class="icon-text">mecze</span>
                </a>
                <br>
                <a asp-area="" asp-controller="Admin" asp-action="Event">
                    <i class="material-icons">emoji_events</i>
                    <span class="icon-text">wydarzenia</span>
                </a>
                <br>
                <a asp-area="" asp-controller="Admin" asp-action="Teams">
                    <i class="material-icons">groups</i>
                    <span class="icon-text">drużyny</span>
                </a>
                <br>
                <a asp-area="" asp-controller="Admin" asp-action="Players">
                    <i class="material-icons">people</i>
                    <span class="icon-text">zawodnicy</span>
                </a>
                <br>
                <a asp-area="" asp-controller="Admin" asp-action="Tickets">
                    <i class="material-icons">task</i>
                    <span class="icon-text">zgłoszenia</span>
                </a>
                <br>
                <a asp-area="" asp-controller="Admin" asp-action="IndexUpdate">
                    <i class="material-icons">article</i>
                    <span class="icon-text">blog</span>
                </a>
                <br>
                <hr />
                <a asp-area="" asp-controller="Admin" asp-action="Index">
                    <i class="material-icons">settings</i>
                    <span class="icon-text">zarządzaj</span>
                </a>
            </div>
        }

    </header>
    <div id="body" class="body">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="z-index: 2;">
            <img style="width: auto; height: 40px" src="~/images/sygnet.png" class="brand-logo" />
            @if (SignIn.IsSignedIn(User))
            {
                <a asp-controller="Ticket" asp-action="TicketCreate">Support Ticket</a>
            } &minus;
            <a asp-area="" asp-page="/Faq">FAQ</a>
            &minus;
            <a asp-area="" asp-page="/Changelogs">Blog</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function toggleSidebar() {
        var sidebar = document.getElementById("mySidebar");
        var sidebarTitle = document.getElementById("sidebar-title");
        var mini = sidebar.classList.contains("active");

        if (!mini) {
            //Open Sidebar
            sidebar.classList.add("active");
            //sidebarTitle.classList.remove("hide");
            document.getElementById("sidebar-title").textContent = "Panel";
            document.getElementById("mySidebar").style.width = "180px";
        } else {
            //Close Sidebar
            sidebar.classList.remove("active");
            document.getElementById("sidebar-title").textContent = "P";
            //sidebarTitle.classList.add("hide");
            document.getElementById("mySidebar").style.width = "50px";
        }
    }

    var isAdmin = document.contains(document.getElementById("mySidebar"));

    var isMainAlert = document.getElementById("mainAlert").style.display == 'none' ? false : true;
    if (isMainAlert && isAdmin) {
        document.getElementById("body").style.margin = "0px 0px 50px 50px";
    } else if (isAdmin) {
        document.getElementById("body").style.margin = "50px 0px 50px 50px";
    } else if (isMainAlert) {
        document.getElementById("body").style.margin = "0px 0px 50px 0px";
    } else {
        document.getElementById("body").style.margin = "50px 0px 50px 0px";
    }

    function RefreshGold() {
        $.ajax({
            url: "/index?handler=UsersGold",
            type: "post",
            dataType: "JSON",
            success: function (result) {
                var field = document.getElementById('goldText');
                field.innerText = result;
            }
        });
    }
</script>