@model EFDataAccessLibrary.Models.NewsHeader
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>NewsHeader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="CreateNewsHeaderUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewsTitle" class="control-label"></label>
                <input asp-for="NewsTitle" class="form-control" />
                <span asp-validation-for="NewsTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsDesc" class="control-label"></label>
                <textarea asp-for="NewsDesc" class="form-control"></textarea>
                <span asp-validation-for="NewsDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsCreateDate" class="control-label"></label>
                <input asp-for="NewsCreateDate" class="form-control" />
                <span asp-validation-for="NewsCreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsPublishDate" class="control-label"></label>
                <input asp-for="NewsPublishDate" class="form-control" />
                <span asp-validation-for="NewsPublishDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
