.information-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.information-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.information-container .information-box {
    min-height: 5rem;
    min-width: 15rem;
    padding: 1rem 1rem;
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 20px;
    margin: 1rem auto 2.5rem;
}

        .information-container .information-box .informations {
            color: #000;
            text-align: right;
            display: flex;
            flex-direction: column;
        }

            .information-container .information-box .informations .title {
                font-size: 0.8rem;
                text-transform: lowercase;
            }

            .information-container .information-box .informations .amount {
                font-weight: 700;
            }

        .information-container .information-box .icon {
            justify-content: center;
            margin-left: 1.8rem;
            min-width: 5rem;
            min-height: 5rem;
        }

            .information-container .information-box .icon i {
                color: #00ffff;
                font-size: 5rem;
            }

@media (max-width: 1080px){
    .information-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 815px) {
    .information-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .information-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}