.section{
    padding-left: 7.3%;
    padding-right: 7.3%;
    height: auto;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

/* UPDATES LIST */

.update-list-title {
    color: #8146ff;
    font-size: 6rem;
    letter-spacing: 0.1px;
    font-weight: 400;
    text-align: left;
}

.update-title {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.update-container {
    margin: 0 auto;
    max-width: 1230px;
}

.update-banner {
    max-width: 390px;
    max-height: 219px;
    margin-bottom: 0.66rem;
}

    .update-banner:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

.update-cards-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.update-card {
    display: flex;
    flex-direction: column;
    filter: grayscale(0.5);
    margin: 10px;
    transition: .5s ease-in-out;
}

    .update-card:hover {
        filter: brightness(1.05) contrast(1);
        transform: scale(1.05);
    }

.update-meta {
    font-weight: 600;
    color: #8146ff;
}

/* UPDATE PAGE */

.update-hero {
    max-height: 550px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 20% 10%;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
}

.update-hero img{
    max-height: auto;
    max-width: 100%;
}

.single-data{
    padding: 30px 0 0 0;
    margin-bottom: 0;
}

.news-update-title{
    font-size: 5rem !important;
    padding: 0 0 10px 0;
}

.changes-container{
    margin: 0 auto 50px auto;
    max-width: 745px;
}

.update-description{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.category-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #64b2ff;
    line-height: 1.25;
}
.category-changes-list {
    list-style: none;
    margin-bottom: 30px;
}

    .category-changes-list li {
        color: #808080;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 0.9rem;
    }

    .category-changes-list li::before {
        content: "\B7 /";
        margin-right: 5px;
        font-weight: 700;
    }

.news-author-container {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    overflow-x: hidden;
    margin-bottom: 50px;
}

.news-author-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-top: 2.3%;
    padding-right: 7.3%;
}

.news-author-details-name{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.news-author-details-desc{
    font-size: 0.7rem;
    font-weight: 700;
}