.divs--container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.filters-bar {
    position: relative;
    background-color: #2d3844;
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 20px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
    align-items: center;
}

.filters-bar .filters-wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.teamComboBox{
    margin-right: 10px;
}

.players-list--container{
    display: flex;
    margin: 40px auto;
    justify-content: center;
    height: 270px;
}

.player {
    max-width: 550px;
    background: url(https://img.freepik.com/darmowe-wektory/streszczenie-transparent-tlo-z-czerwonymi-ksztaltami_1361-3348.jpg?size=626&ext=jpg&ga=GA1.2.1491052253.1624838400) no-repeat;
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    grid-template-rows: 1fr 1fr;
    color: #000;
    margin: 0 5px;
    border: solid 2px black;
    border-radius: 16px;
}

.playerImg {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 3 / 3;
    float: left;
}

.skills--container{
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
}

.skill {
    background-color: rgb(0 0 0 / 70%);
    color: #fff;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    font-weight: 700;
    padding: 5px 5px;
    margin: 10px 10px;
    border-radius: 4px;
    text-transform:uppercase;
}

.position {
    grid-area: 2 / 2 / 3 / 3;
    width: 20%;
    height: 25%;
    justify-self: end;
    align-self: end;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 3px;
    padding: 5px;
}

.position img {
    width: 100%;
    height: 100%;
    z-index: 2;
    filter: invert(100%) sepia(13%) saturate(0%) hue-rotate(176deg) brightness(102%) contrast(101%);
}

.playerName {
    max-width: 300px;
    color: #fff;
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
}
    .playerName p {
        padding: 0 5px;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.blank {
    filter: brightness(0%);
    transition: 1s linear;
}


@media screen and (max-width: 600px){
    .playerImg{
        display: none;
    }

    .position{
        max-width: 25px;
        min-width: 25px;
        max-height: 25px;
        min-height: 25px;
        margin-bottom: 10%;
    }
}